* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #FF0217;
    --yellow: #FEEA3B;
    --darkgray: #353535;
    --lightgray: #5A5A5A;
    --darkgreen: #4E9C25;
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .main {
        justify-content: center;

        .Navbar {
            padding: .5rem 2rem;
        }
    }

    .cover {

        .cover-details {
            justify-content: center;
            padding: 1rem 3rem;
        }

        .cover-details-grid {
            display: block;
            grid-gap: 1rem;
            padding: 0 3rem;
            
            ul {
                text-align: justify;
                padding: 1rem;
            }
        }
    }
}

@media all and (max-width: 768px) and (min-width: 426px) {
    .main {
        justify-content: center;

        .Navbar {
            padding: .5rem 2rem;
        }
    }

    .cover {

        .cover-details {
            justify-content: center;
            padding: 1rem 3rem;
        }

        .cover-details-grid {
            display: block;
            grid-gap: 1rem;
            padding: 0 3rem;
            
            ul {
                text-align: justify;
                padding: 1rem;
            }
        }
    }
}

@media all and (max-width: 426px) {
    .cover {

        .cover-details {
            justify-content: center;
            padding: 1rem 1rem;
        }

        .cover-details-grid {
            display: block;
            grid-gap: 1rem;
            padding: 0 1rem;

            ul {
                text-align: justify;
                padding: 1rem;
            }
        }
    }
}